@import "tailwindcss";
::selection {
  background-color: gray;
  color: white;
}
body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  overflow-x: hidden;
}

.projects-container article {
  overflow: hidden;
  display: inline-block;
}

.project-image {
  transition: 0.4s ease-out;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* img ===================== */

.project-image-wrapper {
  position: relative;
  overflow: hidden;
}

.project-title {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  color: white;
  opacity: 0;
  transition: opacity 0.4s ease-out;
}

.project-image-wrapper:hover .project-title {
  opacity: 1;
}

.project-card:hover .project-image {
  transform: scale(1.05);
  filter: brightness(0.5);
}
