/* =======================================GENERAL====================== */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Lato-Regular";
	text-decoration: none;
	list-style-type: none;
}

img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}

input,
textarea,
button,
select {
	font: inherit;
}

a {
	color: inherit;
}

body {
	min-height: 100vh;
}

:root {
	--main-title: 3rem;
	--sub-title: 2rem;
	--par: 1.3rem;
	--small: 0.7rem;

	/*===
--white: 
--black:
===*/
	--margin: 3%;
	--padding: 3%;
}

@font-face {
	font-family: "Lato-Regular";
	src: url("../fonts/Lato-Regular.woff2") format("woff2");
}

/* ===================================
INITIAL SPLASH SCREEN
====================================== */

html {
	min-height: 100vh;
}

body {
	height: 100%;
	padding: 2%;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 80vh;
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
}

.header-structure {
	display: flex;
	writing-mode: vertical-rl;
	gap: 3rem;
}

.header-structure > li {
	cursor: pointer;
}
.rotate {
	transform: rotate(180deg);
}

.padding {
	padding: 11% 12% 11% 12%;
}

svg {
	fill: rgba(0, 0, 0, 0.25);
}
